# Python
__pycache__/
*.py[cod]
.venv/
venv/
*.egg-info/

# Env
.env
.env.local

# Local DB
*.db
*.sqlite
*.sqlite3

# Node
node_modules/
dist/
.vite/

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
